.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1250px;
  width: 100%;
  margin: auto;
}
.section {
 width: 100%;
}

.layout {
  display: flex;
  flex: 1; 
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1; 
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto; 
  padding: 0 0 24px 0;
}
