@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --primary-color: #324746;
  --secondary-color: #FDB920;
  --span-color: #64748B;
  --black-color: #090914;
  --footer-bg:#324746F0;
  --smallCircle-bg:#E1E3E636;
  --font-family1: "Poppins", sans-serif;
  --font-family2: "Outfit", serif;
  --font-family3: "Roboto", serif;
  --font-family4:"Montserrat", serif;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style: none !important;
  box-sizing: border-box;
  font-family: var(--font-family1);
}


a {
  color:inherit;
  list-style: none;
  text-decoration: none;
}
